---
---

<footer class="bg-stone-900 text-stone-200 py-12 text-center">
  <div class="container mx-auto px-6">
    <p class="mb-4">&copy; 2025 Omiseweb. All rights reserved.</p>
    <p>中国語 | English | ไทย | 日本語</p>
  </div>
</footer>
